h1 {
  font-size: 18px;
  font-weight: bold;
}

.bgSetP {
  border-radius: 61px;
  background: #2183c6;
  padding: 14px 29px;
}
.border-Set {
  padding: 12px 10px;
  border-radius: 61px;
  border: 1.5px solid #2183c6;
}

.ulsetHover li {
  &:hover {
    color: #1c89d1;
    font-weight: bold;

    .setline {
      display: block;
    }
  }
}

.setline {
  display: none;
  width: 50%;
  height: 3px;
  flex-shrink: 0;
  border-radius: 31px;
  background: #2183c6;
}
.shadow-black {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5); /* Creates a shadow at the bottom */
}
.setFontStyle {
  text-align: center;
  font-family: Montserrat;
  // font-size: 200.205px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.4;
  background: linear-gradient(180deg, #2183c6 0%, rgba(33, 131, 198, 0) 80.21%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.setFontStyleTestimonials {
  text-align: center;
  font-family: Montserrat;
  // font-size: 160.205px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  opacity: 1;
  background: linear-gradient(180deg, #2183c6 0%, rgba(33, 131, 198, 0) 80.21%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ptagset {
  font-size: 12px;
}
